<!--
 * AMI Web Framework
 *
 * Copyright (c) 2014-XXXX The AMI Team / LPSC / CNRS
 *
 * This file must be used under the terms of the CeCILL-C:
 * http://www.cecill.info/licences/Licence_CeCILL-C_V1-en.html
 * http://www.cecill.info/licences/Licence_CeCILL-C_V1-fr.html
 *
-->

<div class="grid-stack" id="F251696F_D42E_F7FF_86F7_2E6B4F2E8F74">
	<span style="position: absolute; right: 0;">
		<a href="#" class="btn btn-sm btn-primary" id="ADADA8BA_794E_4AA3_BE47_E214554931FC">
			<i class="fa fa-plus"></i>
		</a>
		<a href="#" class="btn btn-sm btn-primary" id="BC0C838B_4E57_5E35_C76D_923F8B5B98D7">
			<i class="fa fa-refresh"></i>
		</a>
	</span>
</div>